#include <windows.h>
#include <commctrl.h>
#include "Resource.h"

// Icons
IDI_APP      ICON "UltraNote.ico"
IDI_TRAY     ICON "UltraNote.ico"
IDI_NOTELIST ICON "notelist.ico"
IDI_PASTE    ICON "paste.ico"
IDI_SETTINGS ICON "settings.ico"
IDI_NEW      ICON "new.ico"
IDI_SEARCH   ICON "search.ico"
IDI_ABOUT    ICON "about.ico"
IDI_PIN      ICON "pin.ico"
IDI_SHOW_ALL ICON "show_all.ico"
IDI_COPY     ICON "copy.ico"
IDI_EXIT     ICON "exit.ico"
IDI_DELETE   ICON "delete.ico"
IDI_HIDE_ALL ICON "hide_all.ico"
IDI_GROUP    ICON "group.ico"
IDI_FOLDER     ICON "folder.ico"
IDI_ATTACHMENT ICON "attachment.ico"
IDI_ALARM      ICON "alarm.ico"
IDI_CUT        ICON "cut.ico"
IDI_SELECT_ALL ICON "select_all.ico"
IDI_DATETIME   ICON "datum.ico"
IDI_INSERT_PATH ICON "path.ico"
IDI_IMPORT     ICON "import.ico"
IDI_EXPORT     ICON "export.ico"
IDI_PRINT      ICON "print.ico"

// Tray right-click context menu
IDR_TRAY_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&New Note",       ID_TRAY_NEWNOTE
        MENUITEM SEPARATOR
        MENUITEM "&Show Notes",     ID_TRAY_SHOWNOTES
        MENUITEM "&Hide Notes",     ID_TRAY_HIDENOTES
        MENUITEM SEPARATOR
        MENUITEM "Note &List...",   ID_TRAY_NOTELIST
        MENUITEM SEPARATOR
        MENUITEM "E&xit",           ID_TRAY_EXIT
    END
END

// Note right-click context menu
IDR_NOTE_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Edit\tEnter",            ID_NOTE_EDIT
        MENUITEM "&Copy\tC",                ID_NOTE_COPY
        MENUITEM SEPARATOR
        MENUITEM "&Delete\tDel",            ID_NOTE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Always on &Top\tO",       ID_NOTE_ALWAYSONTOP
        MENUITEM SEPARATOR
        MENUITEM "&New Note",               ID_NOTE_NEWNOTE
    END
END

// Note list menu bar
IDR_NOTELIST_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Note",       ID_NL_NOTE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Close",          ID_NL_FILE_CLOSE
    END
    POPUP "&Note"
    BEGIN
        MENUITEM "&Edit",           ID_NL_NOTE_EDIT
        MENUITEM "&Delete",         ID_NL_NOTE_DELETE
    END
END

// String table
STRINGTABLE
BEGIN
    IDS_APP_NAME             "UltraNote"
    IDS_CONFIRM_DELETE       "Delete this note?"
    IDS_CONFIRM_DELETE_MULTI "Delete %d notes?"
    IDS_TRAY_TOOLTIP         "UltraNote"
END
